.header2{
    height: 80px;
}
.header{
    height: 90px;
}
.form-space{
    height: 150px;
}
.flag{
    height: 20px;
    border: 1px solid aliceblue;
}
.header-link{
    letter-spacing: 0;
}

.border-form{
    border: 5px solid #6b0a8b ;
}

.submit-form{
    height: 70px;
}
.hover:hover{
    color: white !important;
    text-decoration: none;
}
.hover{
    color:white;
}

.book-container{
    background: #ffffff;
    border: 1px solid #6b0a8b;
}

.book{
    font-size: 18px;
}

.more{
    color: #c500fc;
}
.more:hover{
    color: rgba(197, 0, 252, 0.6);
}

a{
    text-decoration: none;
    margin-right: 5px;
}
.btn{
    color:white;
}
.h3{
    margin-right: 5px;
}